body {
    font-family: 'Tempus Sans ITC';
    margin: 20px;
}
table {
    width: 80%;
    border-collapse: collapse;
    background-color : lightblue;
    border-color:black;
}

th, td {
    padding: 20px;
    border: 1px solid black;
    text-align: left;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }
    h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:24px;
        color: blue;
    }